@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

body {
  margin: 0;
  color: $theme_color_1;
  background-color: $theme_color_0;
  font-family: 'Source Code Pro', monospace;

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }

  a {
    text-underline-offset: 6px;
    font-size: small;
    text-decoration: underline;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    color: $theme_color_1;
  }

  summary {
    font-weight: bold;
  }

  main {
    width: 50%;
    margin: 0 auto 156px;

    #catchword {
      p {
        text-align: center;
        font-size: small;
        font-style: italic;
        display: inline-block;
        position: relative;
      }

      p:before {
        content: "";
        background: $theme_color_1;
        width: 65%;
        height: 1px;
        display: block;
        position: absolute;
        bottom: -5px;
      }
    }

    #container {
      margin-top: 40px;

      section article {
        padding-left: 15px;
        border-left: 5px solid $theme_color_1;

        p {
          margin-left: 25px;
          font-size: small;
        }

        details[open] summary ~ * {
          animation: sweep .5s ease-in-out;
        }
      }
    }
  }

  @keyframes sweep {
    0%    {opacity: 0; transform: translateX(-5px)}
    100%  {opacity: 1; transform: translateX(0)}
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    main {
      width: 90%;
    }
  }

  @media only screen and (max-width: 600px) {
    main {
      width: 95%;
    }
  }
}
