#skills {
  &-block-1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;

    figure {
      background-color: $theme_color_1;
      margin: 0 5px;
      padding: 10px 10px 0;

      img {
        width: 50px;
        height: 50px;
      }
    }

    figcaption {
      color: $theme_color_0;
      padding-bottom: 10px;
    }
  }

  &-block-2 {
    ul {
      columns: 2;

      li {
        font-size: small;
      }
    }
  }
}